server:
  port: 8085

spring:
  application:
    name: monumentos-proxy
  main:
    web-application-type: servlet

monumentos:
  base-url: "https://services.arcgis.com/1dSrzEWVQn5kHHyK/arcgis/rest/services/Patrimonio/FeatureServer/12"