server:
  port: 8085

  # ✅ permite requests maiores (base64/images em JSON)
  tomcat:
    max-swallow-size: 20MB

  # (opcional mas recomendado) compressão das respostas
  compression:
    enabled: true
    min-response-size: 1024
    mime-types: application/json,text/plain,text/html,text/xml,text/css,application/javascript

spring:
  application:
    name: monumentos-proxy

  main:
    web-application-type: servlet

  # ✅ limites de upload/request (mesmo que não uses multipart agora, é útil)
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB

  datasource:
    url: jdbc:postgresql://localhost:5432/pt_dot
    username: ptdot_user
    password: ptdot_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

  sql:
    init:
      mode: never

  cache:
    type: caffeine

# -------------------------------
# Geocoding (Nominatim)
# -------------------------------
app:
  geocoding:
    nominatim:
      base-url: "https://nominatim.openstreetmap.org"
      user-agent: "pt-dot-app/1.0 (contact: dev@pt-dot.local)"
    cache:
      ttl-seconds: 604800 # 7 dias


logging:
  level:
    pt.dot.application.service: DEBUG
    pt.dot.application.monumentos: DEBUG

ptdot:
  bootstrap:
    reset-pois: false
    import-district-files: false
    sync-pois-from-csv: false

  sipa:
    pois-csv-path: "classpath:/sipa/pois.csv"
    poi-images-csv-path: "classpath:/sipa/poi_images.csv"
    district-files-csv-path: "classpath:/db/sipa/district_files.csv"